/*
 * ThemeZee Magazine Blocks Settings CSS
 *
 * @package ThemeZee Magazine Blocks
 */

.themezee-magazine-blocks-settings-form {
	margin-top: 24px;
}

.themezee-magazine-blocks-settings .license-status {
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 4px 8px;
	background: #444;
	color: #fff;
	text-transform: uppercase;
}

.themezee-magazine-blocks-settings .license-active {
	background: green;
}

.themezee-magazine-blocks-settings .license-invalid,
.themezee-magazine-blocks-settings .license-expired {
	background: red;
}

.themezee-magazine-blocks-settings .license-description {
	margin: 16px 0 0;
}

.themezee-magazine-blocks-settings .license-renewal {
	margin: 16px 0 0;
}
