/* Magazine Grid */
@media only screen and (min-width: 480px) {
	.tz-magazine-grid-columns-2,
	.tz-magazine-grid-columns-4 {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.5em;
		margin-right: calc( -1 * var(--tz-column-gap) );

		.tz-post-wrap {
			padding-right: 1.5em;
			padding-right: var(--tz-column-gap);
			width: 50%;
			box-sizing: border-box;
		}
	}
}

@media only screen and (min-width: 560px) {
	.tz-magazine-grid-columns-3 {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.5em;
		margin-right: calc( -1 * var(--tz-column-gap) );

		.tz-post-wrap {
			padding-right: 1.5em;
			padding-right: var(--tz-column-gap);
			width: 33.3333333333333%;
			box-sizing: border-box;
		}
	}
}

@media only screen and (min-width: 640px) {
	.tz-magazine-grid-columns-4 .tz-post-wrap {
		width: 25%;
		box-sizing: border-box;
	}
}
