/* Default Spacing */
:root {
	--tz-column-gap: 1.5em;
}

/* Default Post Styling */
.tz-magazine-block {
	margin-bottom: 1.5em;

	.tz-magazine-post {
		margin-bottom: 1.5em;
	}

	.tz-entry-image {
		margin: 0;
		max-width: 100%;
		vertical-align: top;
	}

	.tz-entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.tz-entry-meta {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.tz-meta-field {
		margin-right: 0.5rem;
	}
}

/* Thumbnail List */
.tz-magazine-thumbnail-list {
	.tz-magazine-post {
		display: flex;
		flex-wrap: nowrap;

		.tz-post-image {
			padding-right: 0.5em;
			padding-right: calc( var(--tz-column-gap) / 3 );
			width: 30%;

			.wp-post-image {
				margin: 0;
			}
		}

		.tz-post-content {
			padding-left: 0.5em;
			padding-left: calc( var(--tz-column-gap) / 3 );
			width: 70%;
		}

		.tz-entry-title {
			font-size: 18px;
			font-size: 1.125rem;
		}
	}
}
