@media only screen and (min-width: 480px) {
	.tz-magazine-list {
		.tz-magazine-post {
			display: flex;
			flex-wrap: wrap;

			.tz-post-image {
				padding-right: 0.75em;
				padding-right: calc( var(--tz-column-gap) / 2 );
				width: 50%;
				box-sizing: border-box;

				.wp-post-image {
					margin: 0;
				}
			}

			.tz-post-content {
				padding-left: 0.75em;
				padding-left: calc( var(--tz-column-gap) / 2 );
				width: 50%;
				box-sizing: border-box;
			}
		}
	}

	.tz-magazine-list-40-60 {
		.tz-magazine-post {
			.tz-post-image {
				width: 40%;
			}

			.tz-post-content {
				width: 60%;
			}
		}
	}

	.tz-magazine-list-30-70 {
		.tz-magazine-post {
			.tz-post-image {
				width: 30%;
			}

			.tz-post-content {
				width: 70%;
			}
		}
	}
}
