.wp-block-themezee-magazine-blocks-column.tz-magazine-block {
	margin-bottom: 0;
}

/* Magazine Columns */
@media only screen and (min-width: 480px) {
	.tz-magazine-columns {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.5em;
		margin-right: calc( -1 * var(--tz-column-gap) );

		.wp-block-themezee-magazine-blocks-column {
			padding-right: 1.5em;
			padding-right: var(--tz-column-gap);
			width: 50%;
		}
	}
}
